<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Facture</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="invoice">
            <div class="row">
                <div class="col-7">
                    <img src="../assets/img/logo.jpg" class="logo" />
                </div>
                <div class="col-5">
                    <h1 class="document-type display-4">FACTURE</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <p class="addressMySam">
                        <strong>Diamonta Textille</strong><br />
                        161 Tunis Grana <br />
                    </p>
                </div>
                <div class="col-5">
                    <br /><br /><br />
                    <div *ngIf="achat">

                    <p class="addressDriver">
                        <strong>Nom de l'acheteur :</strong> {{ achat.nom_client }}<br />
                        <strong>Adresse de livraison :</strong> {{ achat.adresse_client }}<br />
                        <!-- Ajoutez d'autres informations d'achat ici en utilisant les propriétés de l'objet achat -->
                    </p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <h6>Frais de services <b>Diamonta Textille</b> du</h6>
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Reference Du Produit</th>

                        <th>Nom Du Produit</th>

                        <th>Quantité</th>
                        <th>Prix Unitaire</th>
                        <th>TVA</th>

                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="achat">
                        <td>{{achat.produit.reference}}</td>

                        <td>{{achat.produit.nom}}</td>
                        <td>{{achat.quantite}}</td>
                        <td>{{achat.produit.prix}}</td>

                        <!--<td class="text-right">1,20€</td>-->
                        <td>19%</td>
                        
                    </tr>
                  
                   
                </tbody>
            </table>
            <div class="row">
                <div class="col-8">
                </div>
                <div class="col-4">
                    <table class="table table-sm text-right">
                        <tr>
                            <td><strong>Total HT</strong></td>
                            <td class="text-right">{{montantHTVA}} DT</td>
                        </tr>
                        <tr>
                            <td>TVA 19%</td>
                            <td class="text-right" th:text="${ totalTVA }">{{montantTotal}} DT</td>
                        </tr>
                        <tr>
                            <td><strong>Total TTC</strong></td>
                            <td class="text-right">{{montantTTC}} DT</td>
                        </tr>
                    </table>
                </div>
            </div>

            <p class="conditions">
                En votre aimable règlement
                <br />
                Et avec nos remerciements.
                <br /><br />
                Conditions de paiement : paiement à réception de facture.
                <br />
                Aucun escompte consenti pour règlement anticipé.
                <br />
                Règlement par virement bancaire ou carte bancaire.
                <br /><br />
               
            </p>

            <br />
            <br />
            <br />
            <br />

            <p class="bottom-page text-right">
                MYSAM SAS - N° SIRET 81754802700017 RCS ALBI<br />
                8, avenue de la Martelle - 81150 TERSSAC 06 32 97 00 22 - www.mysam.fr<br />
                Code APE 6312Z - N° TVA Intracom. FR 63 817548027<br />
                <!--IBAN FR76 1470 7034 0031 4211 7882 825 - SWIFT CCBPFRPPMTZ-->
            </p>
        </div>
    </div>
</body>

</html>
