<div class="container">
    <div class="card shadow mb-4">
      <div class="card-body">
        <table id="datatables" class="table table-striped table-bordered table-sm row-border hover">
 
          <thead>
         
            <tr>
                <th>reference</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Quantité</th>
                <th>Prix Unitaire</th>
                <th>Prix TTC</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of prods">
              <td>{{ prod.reference }}</td>
              <td>{{ prod.nom }}</td>
              <td>{{ prod.description }}</td>
              <td>{{ prod.quantite }}</td>
              <td>{{ prod.prix }}</td>
              <td>{{ prod.prix_ttc }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  