<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="../assets/img/stock.jpg"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
           
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <h3 class="text-center fw-bold mx-3 mb-0">S'inscrire</h3>
            </div>
            <div class="form-outline mb-3">
                <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"  id="name" class="form-control form-control-lg"
                  placeholder="Entrer Votre Nom" />
              </div>
    
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  id="email" class="form-control form-control-lg"
                placeholder="Entrer Votre Adresse Mail" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" class="form-control form-control-lg"
                placeholder="Entrer Votre Mot de Passe" />
            </div>
  
            
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
               
              </div>
             
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-primary btn-lg"
                style="padding-left: 12.5rem; padding-right: 12.5rem; background-color:cadetblue "(click)="save()">Register</button>
             
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button routerLink="/login" class="btn btn-primary btn-lg"
                  style="padding-left: 13.5rem; padding-right: 13.5rem; background-color:darkseagreen ">Login</button>
               
              </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 "style="background-color: cadetblue">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        <img src="../assets/img/logo.jpg"
            class="img-fluid" alt="Sample image" width="45" height="45">
        Diamonta Textile

      </div>
      <!-- Copyright -->
  
      <!-- Right -->
     
      <!-- Right -->
    </div>
  </section>